__pycache__/*
.ipy*
*.pyc
.DS_Store
astroduet.egg-info/*
astroduet/version.py
build/*
.cache/*
.idea
dist/*
*egg-info
*.p
.pytest_cache/*
astroduet/cython_version.py
astroduet/data/*DUET.fits
.coverage
notebooks/debug_imgs*
notebooks/*hdf5
htmlcov/
*.csv
